.DS_Store
.vscode/settings.json
*.swp
output

# API files
/api/_build/tmp/
/api/_build/porting_guide.adoc
/api/_build/src/openapi_??_??_???.json
/api/_build/src/openapi_enriched.json
/api/_build/src/openapi_supported.json
/api/_build/src/micro-specs/
