.DS_Store
.vscode/settings.json
*.swp
output

# Python
__pycache__/
*.py[cod]

# Authoring
book-review.yml
book_review.yml
book-rev.yml
cspm/rn/book_review_compute.yml

# API files
/api/_build/tmp/
openapi_??_??_???.json
openapi_enriched.json
openapi_supported.json
micro-specs/

