# List of supported endpoints for documentation.
#
# Syntax:
#  One entry per line.
#  path,method

/_ping,get
/audits/incidents,get
/authenticate,post
/authenticate-client,post
/cloud/discovery,get
/cloud/discovery/download,get
/cloud/discovery/progress,get
/cloud/discovery/scan,post
/cloud/discovery/stop,post
/collections,get
/collections,post
/collections/{id},put
/collections/{id},delete
/collections/{id}/usages,get
/containers,get
/containers/count,get
/containers/download,get
/containers/names,get
/containers/scan,post
/credentials,get
/credentials,post
/credentials/{id},delete
/credentials/{id}/usages,get
/current/collections,get
/current/projects,get
/custom-compliance,get
/custom-compliance,put
/custom-compliance/{id},delete
/defenders,get
/defenders/{id}/upgrade,post
/defenders/download,get
/defenders/daemonset.yaml,post
/defenders/fargate.json,post
/defenders/helm/twistlock-defender-helm.tar.gz,post
/defenders/image-name,get
/defenders/install-bundle,get
/defenders/names,get
/defenders/serverless/bundle,post
/defenders/summary,get
/defenders/upgrade,post
/groups,get
/groups,post
/groups/{id},delete
/groups/{id},put
/groups/names,get
/hosts,get
/hosts/download,get
/hosts/evaluate,post
/hosts/info,get
/hosts/scan,post
/images,get
/images/download,get
/images/evaluate,post
/images/names,get
/images/progress,get
/images/scan,post
/images/twistlock_defender_app_embedded.tar.gz,get
/images/twistlock_defender_layer.zip,post
/profiles/container,get
/profiles/container/{id}/forensic,get
/profiles/container/{id}/forensic/bundle,get
/profiles/container/{id}/hosts,get
/profiles/container/{id}/learn,post
/profiles/container/{id}/rule,get
/profiles/container/download,get
/profiles/container/learn,post
/profiles/host,get
/profiles/host/{id}/forensic,get
/profiles/host/{id}/forensic/download,get
/profiles/host/download,get
/registry,get
/registry/download,get
/registry/names,get
/registry/scan,post
/registry/stop,post
/registry/webhook/webhook,delete
/registry/webhook/webhook,post
/scans,get
/scans,post
/scans/download,get
/serverless,get
/serverless/download,get
/serverless/evaluate,post
/serverless/names,get
/serverless/progress,get
/serverless/scan,post
/serverless/stop,post
/settings/coderepos,get
/settings/coderepos,put
/settings/registry,get
/settings/registry,post
/settings/registry,put
/settings/serverless-scan,get
/settings/serverless-scan,post
/settings/serverless-scan,put
/settings/custom-labels,get
/settings/custom-labels,post
/settings/defender,get
/settings/defender,post
/settings/license,post
/settings/wildfire,get
/signup,post
/stats/app-firewall/count,get
/stats/compliance,get
/stats/compliance/download,get
/stats/compliance/refresh,post
/stats/daily,get
/stats/dashboard,get
/stats/events,get
/stats/license,get
/stats/vulnerabilities,get
/stats/vulnerabilities/impacted-resources,get
/stats/vulnerabilities/refresh,post
/statuses/registry,get
/users,get
/users,post
/users,put
/users/{id},delete
/users/password,put
/util/twistcli,get
/version,get
/policies/compliance/ci/images,get
/policies/compliance/ci/images,put
/policies/compliance/ci/serverless,get
/policies/compliance/ci/serverless,put
/policies/compliance/container,get
/policies/compliance/container,put
/policies/compliance/container/impacted,get
/policies/compliance/host,get
/policies/compliance/host,put
/policies/compliance/serverless,get
/policies/compliance/serverless,put
/policies/firewall/app/apispec,post
/policies/firewall/app/app-embedded,get
/policies/firewall/app/app-embedded,put
/policies/firewall/app/container,get
/policies/firewall/app/container,put
/policies/firewall/app/container/impacted,get
/policies/firewall/app/host,get
/policies/firewall/app/host,put
/policies/firewall/app/host/impacted,get
/policies/firewall/app/network-list,get
/policies/firewall/app/network-list,post
/policies/firewall/app/network-list,put
/policies/firewall/app/network-list/{id},delete
/policies/firewall/app/serverless,get
/policies/firewall/app/serverless,put
/policies/firewall/network,get
/policies/firewall/network,put
/policies/runtime/app-embedded,get
/policies/runtime/app-embedded,put
/policies/runtime/container,get
/policies/runtime/container,put
/policies/runtime/container/impacted,get
/policies/runtime/custom-rules,get
/policies/runtime/custom-rules,put
/policies/runtime/host,get
/policies/runtime/host,put
/policies/runtime/serverless,get
/policies/runtime/serverless,put
/policies/vulnerability/base-images,get
/policies/vulnerability/base-images,post
/policies/vulnerability/base-images/download,get
/policies/vulnerability/base-images/{id},delete
/policies/vulnerability/ci/images,get
/policies/vulnerability/ci/images,put
/policies/vulnerability/ci/serverless,get
/policies/vulnerability/ci/serverless,put
/policies/vulnerability/coderepos,get
/policies/vulnerability/coderepos,put
/policies/vulnerability/coderepos/impacted,get
/policies/vulnerability/host,get
/policies/vulnerability/host,put
/policies/vulnerability/host/impacted,get
/policies/vulnerability/images,get
/policies/vulnerability/images,put
/policies/vulnerability/images/impacted,get
/policies/vulnerability/serverless,get
/policies/vulnerability/serverless,put
/policies/vulnerability/cloud-platforms,get
/policies/vulnerability/cloud-platforms,post
