<!--<div id="tw-search">
  <input id="tw-search-input" type="text">
  <button id="tw-search-btn">Search</button>
</div>-->
<div class="col-md-12 col-sidebar-search ">
  <div class="row  no-gutters">
    <div class="col-10 col-input-search">
      <input type="search" placeholder="Search" id="tw-search-input" />
    </div>
    <div class="col-2 col-input-button">
      <button id="tw-search-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 29 29">
          <g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" transform="rotate(-45 14.621 3.343)">
            <circle cx="7" cy="7" r="7"/>
            <path d="M7 14L7 22"/>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
