<!--
    Manually editing the links in this file (GO TO LATEST DOCS and SELECT VERSION)
    for each release is not efficient because I need to it in two places: the landing
    page and the template.

    Instead, consider including this fragment into the landing page with this approach:

    https://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file
-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="<%= site_home_path %>"><img src="<%= File.join(images_path, "twistlock-logo.png") %>" alt="Twistlock Logo" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="login2"><a href="../../releases/release-information/latest.html">Download</a></li>
                <li class="nav-item dropdown dropdown-slide">
                <a href="#">Select Guide&nbsp;&nbsp;&#9660;</a>
                <!-- Dropdown list -->
                    <div class="dropdown-menu dropdown-menu-right">
                      <ul class="header-main-subnav">
                        <li><a class="dropdown-item" href="../../compute_edition/welcome/welcome.html">Compute Edition 20.04 (Self-Hosted)</a></li>
                        <li><a class="dropdown-item" href="../../enterprise_edition/welcome/welcome.html">Enterprise Edition (SaaS)</a></li>
                        <li><a class="dropdown-item" href="../../segment_guide/welcome/about.html">Segment Guide</a></li>
                        <li><a class="dropdown-item" href="../../ref_arch/objectives/objectives.html">Reference Architecture</a></li>
                        <li><a class="dropdown-item" href="../../ops_guide/getting_started/getting_started.html">Operationalize Guide</a></li>
                        <li><a class="dropdown-item" href="../../troubleshooting/troubleshooting/collect_debug_data.html">Troubleshooting</a></li>
                        <li><a class="dropdown-item" href="../../historical/historical/historical.html">Historical Documentation</a></li>
                      </ul>
                    </div>
                </li>
                <li class="login"><a href="https://cdn.twistlock.com/docs/integrations/index.html">Integrations</a></li>
                <li class="login2"><a href="https://docs.paloaltonetworks.com/prisma/prisma-cloud.html">Palo Alto Networks Tech Docs</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
