
<header id="header" class="container-fluid fixed-top">
          
  <nav class="row align-items-center justify-content-between navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="col-sm-12 col-lg-auto col-navbar-brand"> 
      
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <a class="navbar-brand" href="https://docs.twistlock.com/docs/index.html">
          
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444.28 56.92" id="PANW-Prisma-Cloud-Logo">
            <title>Prisma Cloud By Palo Alto Networks</title>
            <g class="prisma-mark-wrapper">
              <polygon class="prisma-mark " points="28.46 37.95 28.46 11.6 42.22 37.95 28.46 37.95"/>
              <polygon class="prisma-mark " points="28.45 11.6 14.69 37.95 28.45 37.95 28.45 56.92 0 28.46 14.55 13.9 16.86 11.6 28.45 0 28.45 11.6"/>
            </g>
            <g class="prisma-name-wrapper"> 
              <path class="prisma-name" d="M174.93,24.6c-6.19-.91-7.53-1.6-7.53-3s1.74-2.55,5.86-2.55a25.89,25.89,0,0,1,9.53,2c.76.3,1.46.62,2.15.95V16l-.15-.07a27.25,27.25,0,0,0-11.17-2.1c-8,0-13.36,3.6-13.36,8.18,0,5.1,4.3,6.92,12.78,8.12,6,.84,7.42,1.49,7.42,3,0,1.68-2.18,2.77-7,2.77a28.06,28.06,0,0,1-10-2.15,28.65,28.65,0,0,1-2.69-1.25v6.06l.69.29a32.64,32.64,0,0,0,12.33,2.33c7.83,0,13.87-3.17,13.87-8.37S183.59,25.84,174.93,24.6Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-name" d="M76.37,14.31c7.31,0,11.42,3.48,11.42,8.93,0,5.76-4.55,9.12-11.77,9.12H68.08v8.25H61.2V14.31ZM68.08,27.07h7c4.46,0,5.92-1.43,5.92-3.72s-1.62-3.71-5.61-3.71H68.08Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-name" d="M106.19,40.61H99.32V14.31h17.22c7.22,0,11,3.2,11,8.61,0,4.27-2.8,7.07-6.91,8.18l8.22,9.51H121l-7.62-9h-7.23Zm0-14.1h8.69c3.83,0,5.76-1.14,5.76-3.47s-1.58-3.44-5.45-3.44h-9Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-name" d="M147.86,14.31v26.3h-6.92V14.31Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-name" d="M208.52,14.31l9.2,17.89h.12L227,14.31h10v26.3h-6.79V21h-.08L220,40.65h-4.9L204.93,21h-.08V40.61h-6.36V14.31Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-name" d="M272,35.91H256.88l-2.33,4.7H247.4l13.39-26.46h7.51l13.42,26.46H274.3ZM259.25,31.1H269.6l-5.13-10.47h-.08Z" transform="translate(-1.88 -2.66)"/>
              <polygon class="prisma-name" points="276.83 11.6 279.02 11.6 279.02 12.15 278.27 12.15 278.27 14.33 277.58 14.33 277.58 12.15 276.83 12.15 276.83 11.6"/>
              <path class="prisma-name" d="M284.21,14.26V17h-.61V15.35L283,16.57a.23.23,0,0,1-.11.11.23.23,0,0,1-.14,0h-.08a.24.24,0,0,1-.15,0,.22.22,0,0,1-.1-.11l-.64-1.23a.28.28,0,0,1,0,.09V17h-.62V14.26h.65l0,0s0,0,.05.06l.68,1.36a.61.61,0,0,1,.07.14s0,.05,0,.08l0-.08.08-.15.68-1.35,0-.06.06,0h.64Z" transform="translate(-1.88 -2.66)"/>
            </g>
            <g class="prisma-cloud-wrapper">
              <path class="prisma-cloud" d="M297.08,27.51c0-7.36,5.05-14,15-14a16.26,16.26,0,0,1,9.78,3.14v5.92h0c-2.85-1.89-5.66-3.75-9.87-3.75-5.69,0-8.87,3.71-8.87,8.68,0,4.75,3,8.46,8.84,8.46a15.66,15.66,0,0,0,9.9-3.6h0v5.92a17.74,17.74,0,0,1-10.35,3C301.29,41.24,297.08,34.72,297.08,27.51Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-cloud" d="M328.76,14.08h5.84V35.25h15.13l-.19,5.39H328.76Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-cloud" d="M352.35,27.36c0-8.42,5.65-13.88,14.6-13.88s14.61,5.46,14.61,13.88S375.91,41.24,367,41.24,352.35,35.78,352.35,27.36Zm23.22,0c0-5.35-3.08-8.61-8.58-8.61s-8.65,3.26-8.65,8.61S361.42,36,366.92,36,375.57,32.71,375.57,27.36Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-cloud" d="M387.59,30.39V14.08h5.84v16c0,4.32,3.3,5.73,6.87,5.73s6.86-1.33,6.86-5.54V14.08H413V30.2c0,8.12-5.65,11-12.78,11S387.59,38.28,387.59,30.39Z" transform="translate(-1.88 -2.66)"/>
              <path class="prisma-cloud" d="M419.79,14.08h13c8.35,0,13.36,4.93,13.36,13.24s-5,13.32-13.36,13.32h-13Zm13,21.28c4.7,0,7.39-2.46,7.39-8s-2.69-8-7.39-8h-7.14v16Z" transform="translate(-1.88 -2.66)"/>
            </g>
            <g class="by-palo-alto-networks-wrapper">
              <path class="by-panw" d="M61.36,51.67h4.49c1.48,0,2.38.61,2.38,1.79A1.53,1.53,0,0,1,67,55.1c.92.37,1.35.85,1.35,1.69,0,1.48-1.13,2-2.69,2H61.36Zm3.92,2.85c.59,0,.83-.18.83-.64s-.26-.61-.83-.61H63.47v1.25Zm.1,2.66c.63,0,.88-.2.88-.67s-.25-.66-.88-.66H63.47v1.34Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M72.67,56.52l-3.12-4.85H72l1.76,2.84h.11l1.78-2.84h2.34l-3.12,4.84V58.8H72.67Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M83.51,51.67h4.21a2.43,2.43,0,0,1,2.68,2.66,2.55,2.55,0,0,1-2.85,2.72h-1.9V58.8H83.51Zm3.83,3.7a.89.89,0,0,0,1-1,.87.87,0,0,0-1-1H85.65v2Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M93.86,51.67H97.3l2.48,7.13H97.54L97,57.32H94.1l-.51,1.48h-2.2Zm.76,4.06h1.91l-.76-2.24h-.39Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M101.66,51.67h2.13V57h3.78l-.08,1.84h-5.83Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M109,55.24c0-2.32,1.58-3.78,4.07-3.78s4.08,1.46,4.08,3.78S115.54,59,113,59,109,57.56,109,55.24Zm6,0a1.95,1.95,0,1,0-2,2A1.79,1.79,0,0,0,115,55.24Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M125,51.67h3.44l2.48,7.13h-2.24l-.5-1.48h-2.94l-.51,1.48h-2.2Zm.75,4.06h1.92l-.76-2.24h-.39Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M132.77,51.67h2.13V57h3.78l-.08,1.84h-5.83Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M141.67,53.51h-2.5l.09-1.84h7l.08,1.84h-2.49V58.8h-2.15Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M147.71,55.24c0-2.32,1.58-3.78,4.07-3.78s4.08,1.46,4.08,3.78S154.28,59,151.78,59,147.71,57.56,147.71,55.24Zm6,0a1.95,1.95,0,1,0-2,2A1.79,1.79,0,0,0,153.73,55.24Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M161.9,51.67h2.22l3.06,4h0v-4h2V58.8H167.1L164,54.66h0V58.8h-2Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M171.79,51.67H178l.08,1.73h-4.18v1h3.29V56h-3.29v1.11h4.31l-.09,1.73h-6.35Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M182.39,53.51H179.9l.08-1.84h7l.08,1.84h-2.5V58.8h-2.15Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M188.59,51.67h2.28L192,56.62h.11l1.51-4.95h2.09l1.47,4.95h.12l1.14-4.95h2.18l-1.88,7.13H196l-1.3-4.3h-.06l-1.33,4.3h-2.81Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M202.05,55.24c0-2.32,1.57-3.78,4.07-3.78s4.07,1.46,4.07,3.78S208.61,59,206.12,59,202.05,57.56,202.05,55.24Zm6,0a1.95,1.95,0,1,0-1.95,2A1.79,1.79,0,0,0,208.06,55.24Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M212.33,51.67h4.16c1.89,0,2.82.9,2.82,2.56a2.22,2.22,0,0,1-1.39,2.28l1.69,2.29h-2.42l-1.31-1.87h-1.41V58.8h-2.14Zm3.88,3.59a.85.85,0,0,0,1-.94c0-.54-.25-.93-1-.93h-1.74v1.87Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M221.51,51.67h2.14V54.3h.88l2.08-2.63H229l-2.73,3.41,2.88,3.7h-2.5l-2.16-2.74h-.87V58.8h-2.14Z" transform="translate(-1.88 -2.66)"/>
              <path class="by-panw" d="M230.63,58.33V56.38h0a7.61,7.61,0,0,0,3.36.89c.76,0,1.15-.18,1.15-.54s-.25-.44-1.78-.69-2.78-.76-2.78-2.2,1.17-2.36,3.46-2.36a7,7,0,0,1,2.76.57V54h0a6.31,6.31,0,0,0-2.9-.79c-.82,0-1.14.19-1.14.52s.5.46,1.75.67c1.67.29,2.78.75,2.78,2.26,0,1.17-.88,2.34-3.39,2.34A8.48,8.48,0,0,1,230.63,58.33Z" transform="translate(-1.88 -2.66)"/>
            </g>
          </svg>
          
        </a>
        </div>

        <div class="col-auto">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#docsite-navbar-collapse" aria-controls="docsite-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

      </div>

    </div>
  
    <div class="collapse navbar-collapse" id="docsite-navbar-collapse">
      
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><!--active.   dropdown-slide  -->
          <a class="nav-link" href="https://docs.twistlock.com/docs/releases/release-information/latest.html">Releases</a>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Guide
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <ul class="header-main-subnav">
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/compute_edition/welcome/welcome.html">Compute Edition 20.12 (Self-Hosted)</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/enterprise_edition/welcome/welcome.html">Enterprise Edition (SaaS)</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/ref_arch/objectives/objectives.html">Reference Architecture</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/ops_guide/getting_started/getting_started.html">Operationalize Guide</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/government/government/government.html">Government</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/troubleshooting/troubleshooting/collect_debug_data.html">Troubleshooting</a></li>
              <li><a class="dropdown-item" href="https://docs.twistlock.com/docs/historical/historical/historical.html">Historical Documentation</a></li>
            </ul> 
      
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.twistlock.com/docs/integrations.html" tabindex="-1" aria-disabled="true">Integrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.paloaltonetworks.com/prisma/prisma-cloud.html" tabindex="-1" aria-disabled="true" target="_blank">Palo Alto Networks Tech Docs</a>
        </li>
      </ul>
      
    </div>
    
  </nav>
  
</header> 
