@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Light-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Light-Pro_Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-LightItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-LightItalic-Pro_Web.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Book-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Book-Pro_Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-BookItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-BookItalic-Pro_Web.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Medium-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Medium-Pro_Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-MediumItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-MediumItalic-Pro_Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Semibold-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Semibold-Pro_Web.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-SemiboldItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-SemiboldItalic-Pro_Web.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Bold-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Bold-Pro_Web.woff') format('woff');
	font-weight: 700; 
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-BoldItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-BoldItalic-Pro_Web.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-Black-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-Black-Pro_Web.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Decimal';
	src:url('./fonts/Decimal-BlackItalic-Pro_Web.woff2') format('woff2'),
		url('./fonts/Decimal-BlackItalic-Pro_Web.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}


.debug {
  width: 10px;
  display: block;
  height:10px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ccc;
  z-index: 4000;
}

@media (max-width: 768px) { 
  .debug {
    background: red;
  }
}
@media (min-width: 768px) and (max-width: 992px) { 
  .debug {
    background: purple;
  }
}
@media (min-width: 992px) and (max-width: 1200px) { 
  .debug {
    background: blue;
  }
}
@media (min-width: 1200px) { 
  .debug {
    background: green;
  }
}


:root,
svg:root {
  --blue: #0000ce;
  --purple: #6118ff;
  --darkpurple: #001746;
  --black: 20,20,20;
  --gray_dark: 95,95,95;
  --white: 255,255,255;
  --panw_gray_dark_416c: 128,124,123;
  --panw_gray_light_663c: 244, 244, 242;
  --panw_orange_7417c: 250, 88, 45;
  --panw_orange_hover: 255, 46, 0;
  --panw_blue_637c: 0, 192, 232;
  --panw_blue_tint-dark: 79, 179, 199;
  --panw_drop_shadow:54, 66, 75;
  --radius: .4rem;
  --radius-sm: .2rem;
  --radius-round: 5rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:#141414;
}

p {
  font-family: 'Merriweather', Georgia, serif;
  color:#5f5f5f;
}



/* EYEBROW ================================================================================ */


.eyebrow {
  padding-top: 20px;
}

.eyebrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 50px;
    background-color:rgb(var(--panw_blue_637c));
    left: 50%;
    transform: translateX(-50%);
}




/* BUTTON LINK ================================================================================ */


.btn-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 0;
  padding: 3px 0;
  border-bottom: 2px solid transparent;
  position: relative;
  text-align: left;
}

.btn-link:after {
  background-color: #FFF;
}

.btn-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: width .25s ease-in-out;
}

.btn-link:hover:after, 
.btn-link:focus:after, 
.btn-link.focus:after {
    width: 25%;
}




/* BUTTON ================================================================================ */


.btn {
  text-decoration: none;
  padding:0;
  color:#141414;
  font-family: Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 600;
  font-size: .9rem;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid transparent;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:hover {
  border: 2px solid transparent;
  background-color: transparent;
  text-decoration: none;
  color:#141414;
}
    
.btn-primary {
  color:#141414;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  text-align: left;
  font-size: .85rem;
}

.btn-primary i {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 62px;
  height: 45px;
  border-radius: 50px;
  margin-left: 30px;
  background-color:rgb(var(--panw_blue_637c));
  border: 1px solid transparent;
  border-color: rgb(var(--panw_blue_637c));
  background-image: url('../_images/arrow-right-white.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: background-image .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out;
}

.btn-primary:hover i {
  border-color: rgb(var(--panw_blue_637c));;
  background-color: #fff;
  background-image: url('./arrow-right-orange.svg');
}

.btn-primary.focus, 
.btn-primary:focus {
  color:#141414;
  background-color: transparent; 
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px rgba(var(--panw_blue_637c),0.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px rgba(250,88,45,0.5);
  outline: 0;
  background-color: transparent; 
  border: 2px solid transparent;
}
    
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color:#141414;
  background-color: transparent; 
  border: 2px solid transparent;
}






/* HEADER SECTION ================================================================================ */

header.container-fluid {
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(var(--panw_drop_shadow), 0.3);
}

header.container-fluid .row {
  min-height: 80px;
  border-radius: 0;
}


header svg#PANW-Prisma-Cloud-Logo {
  width:250px; 
  display: block;
}

@media (min-width: 222px) and (max-width: 28px) { 
  header svg#PANW-Prisma-Cloud-Logo {
    width:222px;
  }
}

header svg#PANW-Prisma-Cloud-Logo .prisma-mark {
  fill: rgb(var(--panw_blue_637c));
}

header svg#PANW-Prisma-Cloud-Logo .prisma-name {
  fill: rgb(var(--black));
}

header svg#PANW-Prisma-Cloud-Logo .prisma-cloud {
  fill: rgb(var(--panw_gray_dark_416c));
}
      
header svg#PANW-Prisma-Cloud-Logo .by-panw {
  fill: rgb(var(--panw_gray_dark_416c));
} 


header .navbar {
  padding: 0;
  background: #fff!important;
}

header .navbar .navbar-toggler {
  border: none;
  margin: 0;
  /*display: flex;*/
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0 2px;
  border-radius: 32px;
  line-height: 32px;
  margin: 21px 0 22px;
  float: right!important;
  line-height: 0;
}

header .navbar .navbar-toggler:focus {
  outline: transparent none 0;
  box-shadow: 0 0 0 0 rgba(250,88,45,0.5);  
}

header .navbar .navbar-toggler[aria-expanded="true"] {
  outline: transparent none 0;
  box-shadow: 0 0 0 0 rgba(250,88,45,0.5);  
}

header .navbar .navbar-toggler:active {
  outline: transparent none 0;
  box-shadow: 0 0 0 3px rgba(250,88,45,0.5); 
}

header .navbar .navbar-toggler .navbar-toggler-icon  {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23141414' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'/%3E%3Cline x1='3' y1='6' x2='21' y2='6'/%3E%3Cline x1='3' y1='18' x2='21' y2='18'/%3E%3C/svg%3E");
}


header .navbar #docsite-navbar-collapse .navbar-nav > li {
  display: block;
  padding: 0;
  margin: 0;
  font-weight:600;
  font-size: .9rem;
  color: rgb(var(--black));
  font-family: Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li > a {
  background-color:transparent;
  font-size: 16px;
  font-weight:600;
  font-size: .9rem;
  line-height: 1;
  display: block;
  margin: 0 0 0 0;
  /* padding: 40px 20px; */
  padding: 10px 20px;
  color: rgb(var(--black));
  position: relative;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li > a:hover {
  color:#000;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li > a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  overflow: hidden;
  background-color: rgb(var(--panw_blue_637c));
  will-change: width;
  transition: width .25s ease-in-out;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li > a:hover:before {
  width: calc(100% - 40px);
}

header .navbar #docsite-navbar-collapse .navbar-nav .nav-link:focus, 
header .navbar #docsite-navbar-collapse .navbar-nav .nav-link:hover {
  color: rgb(var(--black));
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a:hover,
header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a:focus,
header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a,
header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a {
  color: rgb(var(--black));
}
 
header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
  right: inherit;
  left: inherit;
  border-radius: var(--radius);
  border: none;
  box-shadow:0 6px 20px rgba(var(--panw_drop_shadow), 0.3);
  margin: 0;
  padding-top:0;
  padding-bottom:0;
  margin-top:-15px;
  margin-bottom:0;
  list-style: none;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu ul {
  padding: 0;
  margin: 0;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu li {
  display: block;
  color: #5f5f5f;
  font-weight: 500;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu li a {
  color: #767676;
  font-weight: 500;
  font-weight: normal;
  transition: none;
  text-decoration: none;
  font-size: .8rem;
  display: block;
  padding: 15px 20px;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu li a:hover {
  color: rgb(var(--black));
  text-decoration: underline;
  background: #fff;
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu li:first-child a {
  border-radius: var(--radius) var(--radius) 0 0; 
}

header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown .dropdown-menu li:last-child a {
  border-radius: 0 0 var(--radius) var(--radius); 
}



/* HANDLE SPECIILTY CSS FOR DESKTOP */

@media (min-width: 992px) {
    
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide {
    position: static;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide .open > a, 
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide .open > a:focus, 
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide .open > a:hover {
    background: transparent;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide > .dropdown-menu {
    margin-top: -15px!important;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide:hover .dropdown-menu {
    display: none;
    opacity: 1;
    display: block;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide .dropdown-menu {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    position: absolute;
    transition: .3s all;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }
  
}


/* HANDLE SPECIILTY CSS FOR MOBILE */

@media (max-width: 992px) { 
  
  header .col-branding .navbar-toggle {
    display: block;
  } 
  
  header .navbar-right {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  header .navbar .navbar-collapse {
    flex-basis: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgb(var(--panw_gray_light_663c))!important;
  }
  
  header .navbar .navbar-collapse.in {
    display: block!important;
  }      
  
  header .navbar .navbar-nav  {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li > a:hover {
    text-decoration: underline;
  }
  
  header .navbar #docsite-navbar-collapse > li > .dropdown-menu {
    /* border:3px solid green!important; */
    margin-top: 0!important;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav li,
  header .navbar #docsite-navbar-collapse .navbar-nav li a,
  header .navbar #docsite-navbar-collapse .navbar-nav li .dropdown-menu,
  header .navbar #docsite-navbar-collapse .navbar-nav li .dropdown-menu ul.header-main-subnav {
    float: none!important;
    display: block!important;
    position: static!important;
    z-index: auto!important;
    top:auto!important;
    right:auto!important;
    left:auto!important;
    border-radius: 0!important;
    box-shadow: none!important;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav li,
  header .navbar #docsite-navbar-collapse .navbar-nav > li {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav li a {
    padding: 15px!important;
    border-bottom: 1px solid rgb(var(--panw_gray_light_663c))!important;
  }
   
  header .navbar #docsite-navbar-collapse .navbar-nav li a:hover,
  header .navbar #docsite-navbar-collapse .navbar-nav li a:focus {
    background:rgb(var(--white))!important;
    color: rgb(var(--black))!important;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a, 
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown:hover > a {
    color:rgb(var(--black));
  } 
  
  header .navbar #docsite-navbar-collapse .navbar-nav li a svg.more-down,
  header .navbar #docsite-navbar-collapse .navbar-nav li:focus a svg.more-down, 
  header .navbar #docsite-navbar-collapse .navbar-nav li:hover a svg.more-down  {
    display: none;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li.dropdown-slide > .dropdown-menu {
    margin-top: 0;
  }
  
  header .navbar #docsite-navbar-collapse .navbar-nav > li > a:before {
    display: none;
  }
  
   
}






/* HERO SECTION ================================================================================ */

#hero-search {
  margin-top: 80px;
  background: #141414;
  color:#fff;
  text-align: center;
}

#hero-search .container > .justify-content-md-center {
  height: 500px;
}

#hero-search h1 {
  color:#fff;
  text-align: center;
  padding-bottom: 10px;
}

#hero-search p {
  color:#f4f4f2;
  font-size: .9rem;
  text-align: center;
  margin-bottom: 3rem;
}
 
#hero-search p a {
  color:#f4f4f2;
  text-decoration: none;
  font-size: .9rem;
}

#hero-search .col-search  {
  margin: 0 auto;
}

#hero-search .hero-search-input {
  background:white; 
  border-top-left-radius: 25px; 
  border-bottom-left-radius: 25px; 
  padding:0;
  border: 2px solid transparent;
}

#hero-search input[type="search"] {
  color: #414042;
  font-family: Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  border-radius: 2rem 0 0 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  font-size: 16px;
  height: 45px;
  border: transparent;
  width:100%; 
  display:block; 
  border-top-left-radius: 25px; 
  border-bottom-left-radius: 25px;
}

#hero-search input[type="search"]:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--panw_blue_637c),.5);
}

#hero-search .hero-search-button {
  background:rgb(var(--panw_blue_637c));
  transition: background-color .25s ease-in-out;
  border: 2px solid transparent;
  border-top-right-radius: 25px; 
  border-bottom-right-radius: 25px;
  padding-left: 0;
  padding-right: 0;
}

#hero-search .hero-search-button:hover {
  background:rgb(var(--white));
  border: 2px solid rgb(var(--panw_blue_637c));
}

#hero-search .hero-search-button input[type="submit"],
#hero-search .hero-search-button button {
  height: 45px;
  min-height:45px;  
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  border:1px none transparent; 
  width: 100%!important; 
  display: block; 
  border-top-right-radius: 25px; 
  border-bottom-right-radius: 25px;
  outline: none;
} 

#hero-search .hero-search-button button:hover {
  border:1px none transparent; 
  background: none;
}

#hero-search .hero-search-button button svg g { 
  transition: stroke .25s ease-in-out;
}

#hero-search .hero-search-button:hover button svg g {
  stroke: rgb(var(--panw_blue_637c));
} 

#hero-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: transparent url('../_images/close.svg');
  background-size: 12px 12px;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  
  #hero-search input[type="search"] {
    width: 75%!important;
  }
  
  #hero-search input[type="submit"] {
    width: 25%;
  }
    
}






/* NEXT STEPS ================================================================================ */

#next-steps {
  background: #f4f4f2;
  padding-top: 4%;
  padding-bottom:4%;
}

#next-steps .row {
  padding-bottom:30px;
}

#next-steps .row:last-child {
  padding-bottom:0;
}

@media (max-width: 768px) { 
   #next-steps .row {
    padding-bottom:0;
  }
}

#next-steps .card {
  background: #fff;
  border: none;
  border-radius: 0;
  display: block;
  color:#141414;
  padding:30px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border-color .25s ease-in-out,border-color .25s ease-in-out,border-color .25s ease-in-out;
}

@media (max-width: 768px) { 
  #next-steps .col-xs-12 { 
    padding-bottom:30px;
  }
}

#next-steps .card:hover {
  text-decoration: none;
  border: 2px solid rgb(var(--panw_blue_637c));
}

#next-steps svg.icon {
  height: 60px;
  margin-bottom: 12px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

#next-steps svg.icon .icon-line {
  fill: none;
  stroke:rgb(var(--black));
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

#next-steps svg.icon .icon-line-rounded {
  fill: none;
  stroke:rgb(var(--black));
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#next-steps svg.icon .icon-fill {
  fill: rgb(var(--black));
}

#next-steps svg.icon .icon-line-dashed {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.86px;
  stroke-dasharray: 0.01 0.1;
  stroke:rgb(var(--black));
}

#next-steps .card h2 {
  font-size: 1rem;
  font-weight: 600;
}

#next-steps .card p {
  font-size: .8rem;
}


/* HANDLE SPECIILTY CSS FOR MOBILE */

@media (max-width: 992px) { 
  #next-steps {
    padding-top: 6%;
  }
}



.row-page-menu {
  border-bottom: 1px solid #e9e9e9;
}

.col-sidebar-toggle {
  width: 500px!important;
  border: 1px solid red;
}

.col-sidebar-toggle button {
  border: none;
  margin: 0;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0 2px;
  border-radius: 32px;
  line-height: 32px;
  line-height: 0;
  background: transparent;
}

.toggle-sidebar {
  padding: 0;
  margin: 0;
  float:left; 
  position: relative;
}

.toggle-sidebar .navbar-toggler {
  padding: 0;
  margin: -7px 5px 0 0;
  display: block;
  outline: 0;
  border: none; 
  width: 32px; 
  height: 32px; 
  border-radius: 32px;
}

.toggle-sidebar .navbar-toggler:focus {
  outline: transparent none 0;
  box-shadow: 0 0 0 0 rgba(250,88,45,0.5);  
}

.toggle-sidebar .navbar-toggler:active {
  outline: transparent none 0;
  box-shadow: 0 0 0 3px rgba(250,88,45,0.5); 
}

.toggle-sidebar .navbar-toggler-icon  {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23141414' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'/%3E%3Cline x1='3' y1='6' x2='21' y2='6'/%3E%3Cline x1='3' y1='18' x2='21' y2='18'/%3E%3C/svg%3E");
}

.col-sidebar-toggle button:focus {
  outline: 0;
  border: none;
}

.col-sidebar-toggle button .navbar-toggler-icon:focus {
  outline: 0;
}

.col-sidebar-toggle button:active {
  outline: transparent none 0;
  box-shadow: 0 0 0 3px rgba(250,88,45,0.5);
  
}



/*  BREADCRUMB ================================================================================================================ */

.col-breadcrumb {
  background: #fff;
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 26px;
  padding-right: 26px;
}

@media (max-width: 992px) {
  .col-breadcrumb {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.col-breadcrumbnav {
  background: transparent;
  padding:0;
  margin: 0;
}

.col-breadcrumb nav ol {
  background: transparent;
  padding:0;
  margin: 0;
}

.col-breadcrumb nav ol > li {
  padding-left:.5rem;
  font-weight: 500;
  font-size: .75rem;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.col-breadcrumb nav ol > li:before,
.col-breadcrumb nav ol > li.breadcrumb-item:before {
  display: inline-block;
  padding-right: .5rem;
  color: rgb(var(--panw_blue_637c));
  content: "/";
  content: "\203A";
}

.col-breadcrumb nav ol > li:first-child:before {
  display: none;
}

.col-breadcrumb nav ol > li > a {
  font-weight: 500;
  font-size: .75rem;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:#000;
}





/*  EDIT GITHUB ================================================================================================================ */

.col-edit-github {
  padding-top:26px;
  padding-right:30px;
  text-align: right;
}

@media (max-width: 992px) {
  .col-edit-github {
    padding-top:26px;
    padding-right:22px;
  }
}

.col-edit-github .btn-link {
  font-size: .75rem;
  font-weight: 500;
}




/*  PAGE CONTENT ================================================================================================================ */


.col-page-content {
  min-height: 550px;
  padding-right: 34px;
  padding-left: 34px;
  padding-top: 28px;
  padding-bottom: 46px;
}

@media (max-width: 992px) {
  .col-page-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.col-page-content  .page-header {
  padding-bottom: 2px;
  margin: 0;
  border-bottom: 1px solid #f4f4f2;
}

.col-page-content  .page-header h2,
.col-page-content  .page-header h1 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.215;
  margin-bottom: .5rem;
  margin-top: 0;
}

.col-page-content .toc {
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
  border-bottom: 1px solid #f4f4f2;
  margin-bottom: 1.75rem;
}

.col-page-content .toc ul {
  list-style-type: none; 
  margin-left: 0;
  margin-bottom: 0;
  padding-left:4px;
}

.col-page-content .toc ul li,
.col-page-content .toc ul li a {
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: .75rem;  
  text-decoration: none;
  line-height: 1.75;
}

.col-page-content .toc ul li a:hover {
  text-decoration: underline;
}

.col-page-content .toc ul.sectlevel2 {
  padding-left: 1rem; 
}

.col-page-content .paragraph {
  padding-bottom: 25px;
}

.col-page-content table.tableblock {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.col-page-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.col-page-content h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.25rem;
  line-height: 1.215;
}

.col-page-content h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.col-page-content p {
 color: #5f5f5f;
 font-size: .85rem;
 margin-bottom: 0;
}

.col-page-content strong {
  color:#141414;
}

.col-page-content .ulist,
.col-page-content .olist {
  /* padding-top: .5rem; */
  padding-bottom: .5rem;
}

.col-page-content .olist ol {
  padding: 0 0 0 1.3rem;
}

.col-page-content .olist ol li {
  padding-left: .3rem;
  font-size: .85rem;
  margin-bottom: .25rem;
}

.col-page-content ol,
.col-page-content ul {
  font-family: 'Merriweather', Georgia, serif;
  color: #5f5f5f;
  font-size: .9rem;
}

.col-page-content ol,
.col-page-content ul {
  padding-bottom: 0;
  margin-bottom: 0;
}

.col-page-content ol > li > p,
.col-page-content ul > li > p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.col-page-content a {
  color:#5f5f5f;
  text-decoration: underline;
}

.col-page-content a:hover {
  color:#141414;
  text-decoration: underline;
}

.col-page-content .imageblock {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.col-page-content .imageblock img {
  margin: 0;
  padding: 0;
  border: 1px solid #d8d8d8;
}

.col-page-content .admonitionblock {
  padding-top: .25rem;
  padding-bottom: .5rem;
}

.col-page-content .admonitionblock table {
  border: 1px solid #f4f4f2;
}

.col-page-content .admonitionblock table tr {
  
}

.col-page-content .admonitionblock table tr td {
  background: #f4f4f2;
  line-height: 1.5;
  font-size: .85rem;
}

.col-page-content .admonitionblock table tr td.icon {
  width: 4.5%;
  text-align: center;
}

.col-page-content .admonitionblock table tr td.icon i {
  font-size: 1.5rem;
}

.col-page-content .admonitionblock table tr td.content {
  padding-left: 0;
}


.col-page-content .literalblock {
   padding-bottom:1rem!important;
   padding-top: 1rem!important;
   margin: 0;
}

.col-page-content pre {
   margin: 0!important;
}

.col-page-content .ulist .imageblock,
.col-page-content .olist .imageblock {
  padding-top: 1.5rem; 
  padding-bottom: 0;  
}



/* INTEGRATIONS ================================================================================ */


#feed-integration {
  margin-top: 60px;
  background: #f4f4f2;
  padding-top: 4%;
  padding-bottom:40px;
}

@media (max-width: 992px) { 
  #feed-integration {
    padding-top: 6%;
  }
}






/*  INTEGRATION FEED ================================================================================================================ */


.section-integrations .container-filter .column-filter {
  padding-bottom: 1.5rem;
  
}

.section-integrations .container-filter .column-filter ul.nav-filter-column {
  display: inline-block;
  text-align: center;
}

.section-integrations .container-filter .column-filter ul.nav-filter-column li {
  margin-right: 5px;
  margin-bottom: 4px;
  font-weight: 500;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  margin-left: 0!important;
  display: inline-block;
  text-align: justify;
  cursor: pointer;
  float: none;
  
}


.section-integrations .container-filter .column-filter ul.nav-filter-column li a,
.section-integrations .container-filter .column-filter ul.nav-filter-column li button {
  padding: 6px 14px;
  background: rgb(var(--white));
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: rgb(var(--gray_dark));
  border-radius: var(--radius-round);
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.2;
  transition: color, .25s;
  transition: border, .25s;
  border: 1px solid rgba(var(--panw_gray_dark_416c), .3);
}

.section-integrations .container-filter .column-filter ul.nav-filter-column li a.active,
.section-integrations .container-filter .column-filter ul.nav-filter-column li button.active {
  border: 1px solid rgba(var(--black), 1);
  outline: 1px solid red;
  color: rgb(var(--black)); 
}

.section-integrations .container-filter .column-filter ul.nav-filter-column li a:hover,
.section-integrations .container-filter .column-filter ul.nav-filter-column li button:hover {
  color: rgb(var(--black));
  background: rgb(var(--white));
  border: 1px solid rgb(var(--panw_blue_637c));;
}

.section-integrations .container-filter .column-filter ul.nav-filter-column li a:focus,
.section-integrations .container-filter .column-filter ul.nav-filter-column li button:focus,
.section-integrations .container-filter .column-filter ul.nav-filter-column li a:active,
.section-integrations .container-filter .column-filter ul.nav-filter-column li button:active {
  color: rgb(var(--black));
  background: #fff;
  border: 1px solid rgb(var(--black));
  outline:none;
}



.section-integrations .row-feed {
  display: flex;
  flex-wrap: wrap;
}
      
.section-integrations .column-feed-card {
  /*flex: 2 46%;
  flex-basis: 18.6%;        
  display: flex; */
  /*margin:10px 8px;*/
  padding:.75rem 0;
}
      
@media (max-width: 992px) {
  .section-integrations .column-feed-card {
    flex-basis: 100%;   
  }
}
      
.section-integrations .feed-card {
  color:rgb(var(--panw_gray_dark_416c));
  background: #fff;
  display: block;
  border-radius: 0; /*var(--radius); */
  background:rgba(var(--panw_gray_dark_416c), .05); 
  background:rgb(var(--white)); 
  text-align: center;
  padding:0;
  margin-left: .75rem!important;
  margin-right: .75rem!important;
  box-shadow: 0 1px 2px rgba(var(--panw_drop_shadow), 0.2);
  border:1px solid rgba(var(--panw_gray_dark_416c), .2);
  text-decoration: none;
}
      
.section-integrations .feed-card:hover {
  box-shadow: 0 15px 20px rgba(0,0,0,.1);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.section-integrations .card-comming-soon {
	border:2px dashed #b7b7b7;
	background: none;
	color:#fff;
	margin-left: .75rem!important;
	margin-right: .75rem!important;
	color: #767676; 
	text-align: center;  
	font-weight: 500;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.section-integrations .column-feed-card .card-logo {
  height: 125px;
  text-align: center;
  
  /*
    display: flex;
    align-items: center;
    justify-content: center;
  */
   
  border-radius: 0px 0px var(--radius) var(--radius);
  padding:10px;
  text-align: center;
  flex-basis: 100%;   
}

.section-integrations .column-feed-card .card-logo img.feed-card-logo {
  display: inline-block;
  height: 100%;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
  user-zoom: none;
  max-width: 100%;
}
      
.section-integrations .column-feed-card .card-excerpt {
  padding:14px;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  background: rgb(var(--white));
  border-radius: 0px 0px var(--radius) var(--radius);
  box-shadow: none;
  flex-grow: 1;
  border-top:1px solid rgba(var(--panw_gray_dark_416c), .3)
}
      
.section-integrations .column-feed-card h3 {
  font-weight: 600;
  font-family:Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: rgb(var(--black));
  font-size: 1rem;
  margin-bottom: 2px;
  line-height: 1.2;
}
      
.section-integrations .column-feed-card p {
  font-weight: normal;
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1.2;
  color:rgb(var(--panw_gray_dark_416c));
  font-family: 'Merriweather', Georgia, serif;
  color:#5f5f5f;
}






/*  INTEGRATION DETAIL ================================================================================================================ */


.section-integrations {
  border:none;
  padding-bottom:8%;
}

.section-integration-article {
  padding-top:.5rem!important;
}

.section-integration-article .row-integration-article .column-integration-article {
  min-height: 900px;
  border-radius: var(--radius);
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1px 3px rgba(var(--panw_drop_shadow), 0.1);
} 

.section-integration-article .row-integration-article .column-integration-article img {
  border: 1px solid rgba(var(--panw_gray_dark_416c), .25);
}

.section-integration-article .row-integration-article .column-integration-article .row {
  display: flex;
}

.section-integration-article .row-integration-article .column-integration-article .row .integration-article-menu {
  border-right:1px solid rgba(var(--panw_gray_dark_416c), .25);
}

.section-integration-article .row-integration-article .column-integration-article .row .integration-article-content {
  padding: 25px 30px;
} 






/* FOOTER ================================================================================ */

footer {
  text-align: center;
  padding: 2% 2%; 
}

footer p {
  font-family: Decimal,Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}




