:root {
  --blue: #0000ce;
  --purple: #6118ff;
  --darkpurple: #001746;
}

a {
  color: var(--blue);
}

html,
body {
    font-size: 15px;
    color: var(--darkpurple);
    width: 100%;
    height: 100%;
    min-height:100vh;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.dropdown-menu {
  padding:0px;
  border-radius: 0;
}

.nav-item.dropdown {
  position: relative;
}
.header-main-subnav {
  width: 100%;
  float: left;
  padding: 0px;
  border-top: 1px solid #eaeaea;
}
.header-main-subnav:first-child {
  border-top:none;
}
.header-main-subnav li:first-child:before {
    border-color: #fff;
    border-bottom-color: #eaeaea;
    border-width: 12px;
    left: 55px;
    margin-left: -12px;
    bottom: 100%;
    /* border: 1px solid transparent; */
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.header-main-subnav li:first-child:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #fff;
    border-width: 10px;
    left: 55px;
    margin-left: -10px;
    bottom: 100%;
    /* border: 1px solid transparent; */
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.header-main-subnav li {
  margin-right: 0;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
  width:100%;
}
.header-main-subnav li:last-child {
  border-bottom:none;
}

/* .dropdown-item.active, .dropdown-item:active {
  background: #5672f9;
} */

.dropdown-item {
  font-size: 14px;
  /* padding: 10px 10px 10px 10px;
  color:var(--purple); */
  display: block;
  padding: 15px 20px;
  width: 100%;
  font-size: 14px;
  color: #888;
  -webkit-transition: color ease .3s;
  transition: color ease .3s;
}
.dropdown-item:hover {
  background-color:var(--purple);
  color:#ffffff !important;
  text-decoration: none;
}

@media (min-width: 768px) {
  .dropdown-slide {
    position: static;
  }
  .dropdown-slide .open > a, .dropdown-slide .open > a:focus, .dropdown-slide .open > a:hover {
    background: transparent;
  }
  .dropdown-slide.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown-slide:hover .dropdown-menu {
    display: none;
    opacity: 1;
    display: block;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    color: #777;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .dropdown-slide .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    position: absolute;
    /* border: 1px solid #ebebeb; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: .3s all;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }
}

@media (min-width: 768px) and (max-width: 480px) {
  .dropdown-slide .dropdown-menu {
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 480px) {
  .navbar-toggleable-md > .container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}







/*For Menu Style*/
.navbar {
  grid-column: span 8;
  width:100%;
  height:fit-content;
  z-index: 10;
  padding-top:15px;
  padding-bottom:10px;
  padding-left:5%;
  padding-right:5%;
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
    border-radius:0;
}
/*
 * .navbar-right {
 *     padding-top:5px !important;
 *     } */

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #82ca9c;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #888;
    font-size:16px;
    font-weight:400;
    /* margin-left: 10px;
 *     margin-right:10px; */
}

.navbar-default .navbar-nav li {
  margin-right:20px;
  -webkit-transition: color ease .3s !important;
  transition: color ease .3s !important;
}
.navbar-default .navbar-nav li:last-child {
  margin-right:0px;
}

.navbar-default .navbar-nav li:nth-child(2){
  /* border:1px solid #dedede; */
}

.navbar-default .navbar-nav li a :hover{
    color: var(--purple);
}
.navbar-default .collapse .login a{
    /* color: #fff; */
    /* background-color: #000000; */
    border-radius: 0px;
    /* padding: 4px 30px; */
    /* font-size: 12px; */
    /* margin-top: 10px;
 *     margin-left: 30px; */
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    /* background-color: #666666;
 *     color:#fff; */
}
.navbar-default .collapse .login2 a{
    /* color: #fff;
 *     background-color: var(--blue); */
    border-radius: 0px;
    /* padding: 4px 30px; */
    /* font-size: 14px; */
    /* margin-top: 10px;
 *     margin-left: 30px; */
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login2:hover a{
    /* background-color: var(--blue);
 *     color:#fff; */
}
navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: var(--purple);
    background-color: transparent;
}
.navbar-brand{
    padding:0px !important;
    margin-top:3px;
}

.navbar-brand img {
  /* max-width:158px; */
  max-height:45px;
}

footer {
  margin-top: 150px;
  padding: 20px;
  color: #444;
  background-color: #fafafa;
  border: none;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 9pt;
}
