#tw-search-input {
    font-size: 12px;
    height: 25px;
    width: 70%;
}

#tw-search-btn {
    font-size: 12px;
    height: 25px;
    width: 25%;
}

#search-input-dialog {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 85%;
}

.algolia-docsearch-suggestion--highlight {
  font-weight: bold;
}
