

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ============================================================================================
   Author's custom styles
   ============================================================================================ */
   
   
/** FONT FILES: Montserrat Thin =============================================================== **/

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("fonts/Montserrat-Thin.ttf") format('truetype');
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("fonts/Montserrat-ThinItalic.ttf") format('truetype');
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("fonts/Montserrat-ExtraLight.ttf") format('truetype');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("fonts/Montserrat-ExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Montserrat-Light.ttf") format('truetype');
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/Montserrat-LightItalic.ttf") format('truetype');
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Montserrat-Regular.ttf") format('truetype');
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/Montserrat-Italic.ttf") format('truetype');
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/Montserrat-Medium.ttf") format('truetype');
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/Montserrat-MediumItalic.ttf") format('truetype');
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/Montserrat-SemiBold.ttf") format('truetype');
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("fonts/Montserrat-SemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Montserrat-Bold.ttf") format('truetype');
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/Montserrat-BoldItalic.ttf") format('truetype');
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Montserrat-ExtraBold.ttf") format('truetype');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("fonts/Montserrat-ExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/Montserrat-Black.ttf") format('truetype');
}

/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("fonts/Montserrat-BlackItalic.ttf") format('truetype');
}


.debug {
  width: 20px;
  display: block;
  height:20px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ccc;
  z-index: 4000;
}

@media (max-width: 768px) { 
  .debug {
    background: red;
  }
}
@media (min-width: 768px) and (max-width: 992px) { 
  .debug {
    background: purple;
  }
}
@media (min-width: 992px) and (max-width: 1200px) { 
  .debug {
    background: blue;
  }
}
@media (min-width: 1200px) { 
  .debug {
    background: green;
  }
}



/* ROOT DOM ELEMENTS ======================================================================== **/

:root,
svg:root {
  --blue: #0000ce;
  --purple: #6118ff;
  --darkpurple: #001746;
  --black: 20,20,20;
  --white: 255,255,255;
  --panw_gray_dark_416c: 128,124,123;
  --panw_gray_light_663c: 244, 244, 242;
  --panw_orange_7417c: 250, 88, 45;
  --panw_orange_hover: 255, 46, 0;
  --panw_blue_637c: 0, 192, 232;
  --panw_blue_tint-dark: 79, 179, 199;
  --panw_drop_shadow:54, 66, 75;
  --radius: .4rem;
  --radius-sm: .2rem;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

html,
body {
  font-size: 15px;
  color: rgb(var(--black));
  width: 100%;
  height: 100%;
  min-height:100vh;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Montserrat',Arial,'Helvetica Neue',Helvetica,sans-serif;
  font-weight: normal;
}

.grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.page {
  z-index: 1000;
  background-color:rgb(var(--white));
}



/* HTML ELEMENTS ========================================================================================================= */

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

h1 span {
  color: #f56363;
  font-weight: 400;
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin: 0 0 15px;
}

p:last-child {
    margin-bottom: 0px;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  
  user-zoom: none;
  max-width: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}



/* ROOT CLASSES ========================================================================================================= */

svg.more-down {
  width: 9px;
  height: 6px;
  stroke: #fff;
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #ededed;
}

.no-padding {
    padding: 0 !important;
}

.clear {
    clear: both;
}

.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}

.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}

.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}



/* FORMS ELEMENTS ========================================================================================================= */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #82ca9c;
}

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;
}
input::-moz-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;
}
input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;
}
textarea::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;

}
textarea::-moz-input-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;
}
textarea::-ms-input-placeholder {
    color: #CACACA;
    font-size: 14px;
    padding-top:2px;
    padding-left:5px;
}

x.input-lg, 
.form-group-lg .form-control {
    height: 46px;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    font-weight:600;
    line-height: 1.33;
    border-radius:0;
}



/* Buttons ===================================================================================================================*/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled{
    color: #ffffff;
    background-color:#64c583;
    border-color: #f56363;
}
.btn-primary:hover {
    background-color:#64c583;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn-default {
    border-radius: 0px;
    background:rgb(var(--panw_orange_7417c));
    color: #ededed;
    border: 0;
    padding: 12px 15px;
    max-width:160px;
    margin-top: 20px;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active, 
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #012a7d;
    border-color:transparent;
}

.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}

.btn-lg, 
.btn-group-lg>.btn {
    font-size: 18px;
    line-height: 26px;
    border-radius:0;
    background: #82ca9c;
    border: 0;
    padding: 10px 25px;
}
.input-group button a i{
    color:#fff;
}



/* HEADER / NAV BAR ================================================================================================================ */

.navbar {
  border: none;
  grid-column: span 8;
  width:100%;
  z-index: 10;
  padding:0;
  margin:0;
  height: fit-content;
  background-color: #fff;
  border-color: transparent;
  border-radius:0;
  box-shadow: 0 1px 3px rgba(var(--panw_drop_shadow), 0.3);
}

@media (max-width: 768px) { 
  .container-fluid>.navbar-collapse, 
  .container-fluid>.navbar-header, 
  .container>.navbar-collapse, 
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar .container,
.navbar .container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  padding-right: 0;
  padding-left: 0;
}

.navbar .navbar-header {
  flex: 0 0 auto;
  width: auto;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left:15px;
  padding-right:15px;
}



/* HEADER: LOGO -------------------------------------------- */

.navbar .navbar-header .navbar-brand  {
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:none; 
  min-height: 80px;
}
 
.navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo {
  width:250px; 
  display: block;
  margin:0;
  padding:0;
}

@media (min-width: 222px) and (max-width: 28px) { 
  .navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo {
    width:222px;
  }
}

.navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .prisma-mark {
  fill: rgb(var(--panw_blue_637c));
}

.navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .prisma-name {
  fill: rgb(var(--black));
}

.navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .prisma-cloud {
  fill: rgb(var(--panw_gray_dark_416c));
}
      
.navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .by-panw {
  fill: rgb(var(--panw_gray_dark_416c));
} 


/* Handle logo on super small sizes */ 
@media (max-width: 340px) { 
  
  .navbar .navbar-header .navbar-brand  {
    width: inherit!important;
    overflow: hidden;
    display: block;
    margin-top:8px;
    max-width: 165px;
    max-height: 36px;
  }
  
  .navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .prisma-cloud-wrapper {
    display:none;
  }
  
  html, body {
    overflow: hidden;
    display:block
  }
  
} 

/* Handle logo on super small sizes */ 
@media (max-width: 252px) { 
  .navbar .navbar-header .navbar-brand  {
    max-width: 40px;
    max-height: 36px;
  }
  
  .navbar .navbar-brand svg#PANW-Prisma-Cloud-Logo .prisma-name-wrapper {
    display:none;
  }
}



/* HEADER: MENU -------------------------------------------- */

.navbar .navbar-nav > li {
  display: block;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav > li > a {
  color: rgb(var(--black));
  background-color:transparent;
  font-size:16px;
  font-weight:700;
  font-size: .95rem;
  line-height: 1;
  display: block;
  margin: 0 0 0 0;
  padding-top: 21px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.navbar .navbar-nav > li.nav-item{
  position: relative;
}

.navbar .navbar-nav > li > a svg.more-down {
  display: block;
  margin: 8px auto 0 auto;
  stroke:rgb(var(--black));
  visibility: hidden;
}

.navbar .navbar-nav > li:hover > a svg.more-down {
  display: block;
  stroke:rgb(var(--black));
  visibility: visible;
  margin-bottom: 0;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color:rgb(var(--panw_orange_hover));
}

.navbar .navbar-nav > li.dropdown:hover > a:hover,
.navbar .navbar-nav > li.dropdown:hover > a:focus,
.navbar .navbar-nav > li.dropdown:hover > a,
.navbar .navbar-nav > li.dropdown:hover > a {
  color:rgba(var(--panw_gray_dark_416c), .4); 
}

.navbar .navbar-nav > li.dropdown .dropdown-menu {
  right: inherit;
  left: inherit;
  border-radius: var(--radius);
  border: none;
  box-shadow: 0 6px 20px rgba(var(--panw_drop_shadow), 0.3);
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -5px!important;
  margin-bottom:0;
}

.navbar .navbar-nav > li.dropdown .dropdown-menu ul.header-main-subnav {
  margin: 0;
  padding: 0;
}

.navbar .navbar-nav > li.dropdown .dropdown-menu li {
  display: block;
}

.navbar .navbar-nav > li.dropdown .dropdown-menu li a {
  color: rgb(var(--black));
  font-weight: normal;
  transition: none;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 15px 20px;
}

.navbar .navbar-nav > li.dropdown .dropdown-menu li a:hover {
  color: rgb(var(--white));
  background: rgb(var(--panw_orange_hover));
}

.navbar .navbar-nav > li.dropdown .dropdown-menu li:first-child a {
  border-radius: var(--radius) var(--radius) 0 0; 
}

.navbar .navbar-nav > li.dropdown .dropdown-menu li:last-child a {
  border-radius: 0 0 var(--radius) var(--radius); 
}

@media (min-width: 992px) {
  .navbar .navbar-nav > li.dropdown-slide {
    position: static;
  }
  .navbar .navbar-nav > li.dropdown-slide .open > a, 
  .navbar .navbar-nav > li.dropdown-slide .open > a:focus, 
  .navbar .navbar-nav > li.dropdown-slide .open > a:hover {
    background: transparent;
  }
  .navbar .navbar-nav > li.dropdown-slide.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  .navbar .navbar-nav > li.dropdown-slide:hover .dropdown-menu {
    display: none;
    opacity: 1;
    display: block;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .navbar .navbar-nav > li.dropdown-slide .dropdown-menu {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    position: absolute;
    transition: .3s all;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }
}




/* HEADER: MENU MOBILE ---------------------------------------- */

.navbar .navbar-header .navbar-toggle {
  border: none;
  min-height: 80px;
  margin: 0;
  border-radius: 0;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
  height: 4px;
  width: 25px;
  background-color: rgb(var(--black));
}

.navbar .navbar-header .navbar-toggle:hover,
.navbar .navbar-header .navbar-toggle:focus  {
  background: rgb(var(--white));
}

.navbar .navbar-header .navbar-toggle:hover .icon-bar {
  background: rgb(var(--panw_orange_hover));
}

@media (min-width: 768px) and (max-width: 992px) { 
  .navbar .navbar-collapse.collapse {
    display:none!important;
  }
}

@media (max-width: 992px) { 

  .navbar .navbar-header .navbar-toggle {
    display: block;
  }
  
  .navbar-right {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navbar .navbar-collapse {
    flex-basis: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgb(var(--panw_gray_light_663c))!important;
  }
  
  .navbar .navbar-collapse.in {
    display: block!important;
  }      
  
  .navbar .navbar-nav  {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* reset absolute positioning */
  .navbar .navbar-nav li,
  .navbar .navbar-nav li a,
  .navbar .navbar-nav li .dropdown-menu,
  .navbar .navbar-nav li .dropdown-menu ul.header-main-subnav {
    float: none!important;
    display: block!important;
    position: static!important;
    z-index: auto!important;
    top:auto!important;
    right:auto!important;
    left:auto!important;
    border-radius: 0!important;
    box-shadow: none!important;
  }
  
  
  .navbar .navbar-nav li,
  .navbar .navbar-nav > li {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .navbar .navbar-nav li a {
    padding: 15px;
    border-bottom: 1px solid rgb(var(--panw_gray_light_663c))!important;
  }
   
  .navbar .navbar-nav li a:hover,
  .navbar .navbar-nav li a:focus {
    background:rgb(var(--panw_orange_hover))!important;
    color:rgb(var(--white))!important;
  }
  
  .navbar .navbar-nav > li.dropdown:hover > a, 
  .navbar .navbar-nav > li.dropdown:hover > a {
    color:rgb(var(--black));
  } 
  
  .navbar .navbar-nav li a svg.more-down,
  .navbar .navbar-nav li:focus a svg.more-down, 
  .navbar .navbar-nav li:hover a svg.more-down  {
    display: none;
  }
   
}





/* HOME PAGE SECTIONS ================================================================================================================ */

.home {
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  grid-column: span 8;
  z-index: 3;
  color: #fff;
}

.home .container {
  grid-row: 2 / span 2 ;
  grid-column: span 8;
  z-index: 2;
}

.home  .color-overlay {
  background-color: rgb(var(--panw_blue_637c));
  content: '';
  top: 0;
  left: 0;
  width:100%;
  height:400px;
  display: grid !important;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.home .container {
  grid-row: 2 / span 2 ;
  grid-column: span 8;
  z-index: 2;
}

.home .home-content h1{
  font-size: 2.7rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.125;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1rem;
}

.home .home-content p {
  color: rgb(var(--white));
  font-variant: normal;
  font-size:1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.home .home-content a {
  color: rgb(var(--white));
  border-bottom: 1px rgb(var(--white)) dashed;
  transition: color, .5s;
  transition: border-bottom, .5s;
}

.home .home-content a:hover {
  color: rgba(var(--white), .5);
  border-bottom: 1px rgba(var(--white), .5) dashed;
}

.home .home-content .home-contact {
  margin-top: 2.2rem;
}

.home .home-contact .input-group {
  display: block;
}

.home .home-content .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 80%;
  margin-bottom: 0;
  /*height: 60px;*/
}

.home .home-content .home-contact input[type="text"]{
  color:#414042;
  border-radius: 2rem 0 0 2rem;
  padding-left:1rem;
  padding-right:1rem;
}

.home .home-content .home-contact input[type="submit"]{
  display:inline-block;
  width:20%;
  background-color:rgb(var(--panw_orange_7417c));
  color:#fff;
  border: 0px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color .2s ease-in-out;
  border-radius: 0px 2rem 2rem 0px;
}

.home .home-content .home-contact input[type="submit"]:hover{
  background-color:rgb(var(--panw_orange_hover))!important;
}

.home .home-content .form-control:focus {
  border-color: rgb(var(--panw_blue_tint-dark));
}

.home .home-content .row {
  display: flex;
  align-items: center;
  justify-content: center;
}





/*  NET STEPS SECTION ================================================================================================================ */

.cta-menu {
  background:rgba(var(--panw_gray_light_663c), .5);
  color:var(--black);
  border-bottom:1px solid rgba(var(--panw_gray_dark_416c), .15); 
  grid-column: span 8;
  z-index:2;
  padding:100px 0px;
}

.cta-menu .menu-item-container {
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 1.2rem;
}

.cta-menu .menu-item-container .menu-box {
  border: 1px solid #dddddd;
  padding: 0px;
  background-color: #ffffff;
  margin-right:15px;
  padding:20px;
  width:30%;
  cursor:pointer;
  border-radius: var(--radius);
  
}

@media (max-width: 992px) {
  .cta-menu .menu-item-container {
    margin-bottom: 0rem;
  }
  
  .cta-menu .menu-item-container .menu-box {
    width:100%;
    margin-bottom:15px;
  }
}

.cta-menu .menu-item-container .menu-box:last-child {
  margin-right:0px;
}

.cta-menu .menu-item-container .menu-box:hover {
  box-shadow: 0 15px 20px rgba(0,0,0,.1);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item {
  padding: 30px 0px;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item svg.icon {
  height: 60px;
  margin-bottom: 10px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item svg.icon .icon-line {
  fill: none;
  stroke:rgb(var(--black));
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item svg.icon .icon-line-rounded {
  fill: none;
  stroke:rgb(var(--black));
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item svg.icon .icon-fill {
  fill: rgb(var(--black));
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item svg.icon .icon-line-dashed {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.86px;
  stroke-dasharray: 0.01 0.1;
  stroke:rgb(var(--black));
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item h5 {
  font-size:16px;
  font-weight:600;
  text-align: center;
  vertical-align: middle;
  margin-bottom:.5rem !important;
  color:rgb(var(--black));
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item p {
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  color:rgb(var(--panw_gray_dark_416c));
  transition:none;
}

.cta-menu .menu-item-container .menu-box .cta-menu-link .menu-item ul li {
  font-size:14px;
  font-weight: 500;
  margin:10px;
}

.cta-menu .menu-item-container .menu-box:hover {
  transition: background, .5s;
  background:rgb(var(--panw_orange_7417c));
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-line {
  /*stroke:rgb(var(--panw_orange_7417c));*/
  stroke:rgb(var(--white))!important;
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-line-rounded {
  /*stroke:rgb(var(--panw_orange_7417c));*/
  stroke:rgb(var(--white))!important;
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-fill {
  /*fill:rgb(var(--panw_orange_7417c));*/
  fill:rgb(var(--white))!important;
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item h5 {
  color:rgb(var(--white))!important;
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item p {
  color:rgb(var(--white))!important;
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link {
  color:var(--black);
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-line {
  stroke:rgb(var(--panw_orange_7417c));
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-line-rounded {
  stroke:rgb(var(--panw_orange_7417c));
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item svg.icon .icon-fill {
  fill:rgb(var(--panw_orange_7417c));
}

.cta-menu .menu-item-container .menu-box:hover .cta-menu-link .menu-item h5 {
  color:rgb(var(--panw_orange_7417c));
}


/*  NET STEPS SECTION ================================================================================================================ */


footer {
  padding: 20px 20px 30px;
  text-align: center;
  color:rgb(var(--panw_gray_dark_416c));
  font-size: .8rem;
};



/* For Social Wrapper */

.social{
    background: var(--darkpurple);
    padding:10px 0;
}
.social-wrapper .social-icon a{
    float:left;
    font-size:13px;
    color:#fff;
}
.social-wrapper .social-icon a:hover {
    color:#a0c3e5;
}
.social-wrapper .social-icon a i{
    padding-right:10px;
}
.social-wrapper .social-contact{
    float:right;
    font-size:13px;
}
.social-wrapper .social-contact a{
    color:#fff;
    margin-right:20px;
}
.social-wrapper .social-contact a:hover{
    color:#a0c3e5;
}
.social-wrapper .social-contact a i{
    padding-right:5px;
}





/* Search results */

.algolia-docsearch-suggestion--highlight {
  font-weight: bold;
}
.modal-body a{
    font-size:14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#337ab7;
}
.modal-body p{
    font-size:14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333;
}



